@use "styles/_variables" as vars;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.productHeading {

  font-size: 128px;
  font-weight: 400;
  font-family: vars.$licorice;
  text-align: center;
  margin: 4rem 0;
}


.cardContainer {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-around;

}