@use "../../styles/variables" as vars;

.navBar {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    background-color: #111;

    div {
        width: 250px;
    }


}